* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  min-height: 100vh;
}

.hero_header {
  background-color: #2d2d2d;
  height: 85px;
  width: 100%;
  position: fixed;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  z-index: 100;
}

.hero_header__mail, .hero_header__phone {
  padding-left: 55px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.hero_header__mail:hover, .hero_header__phone:hover {
  color: #ff8a37;
}

.hero_header__mail:before, .hero_header__phone:before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  float: left;
  margin: -8px 10px 0 0;
}

.hero_header__mail:before {
  background: url(../images/icons/feather_mail.svg) no-repeat;
}

.hero_header__phone:before {
  background: url(../images/icons/feather_smartphone.svg) no-repeat;
}

.hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff8a37;
  height: 100vh;
}

.hero_content__info {
  padding: 80px;
  position: relative;
}

.hero_content__social {
  position: absolute;
  top: 70px;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.hero_content__text {
  position: absolute;
  bottom: 80px;
  color: #fff;
}

.hero_content__item {
  margin-bottom: 35px;
}

.hero_content__title {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
}

.hero_content__subtitle {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero_content__descr {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.hero_content__descr span {
  font-weight: 600;
}

.hero_content__order {
  background: url(../images/tormozni-trubky-1.png) no-repeat 0 0;
  background-size: cover;
  margin-top: -300px;
  position: relative;
}

.hero_content__info, .hero_content__order {
  width: 50%;
}

.hero_content__button {
  background-color: #ff8a37;
  border: none;
  position: absolute;
  bottom: 7%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 298px;
  padding: 15px 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.hero_content__button:hover {
  background-color: transparent;
  border: 1px solid #ff8a37;
  color: #ff8a37;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.descr {
  height: 85vh;
}

.descr_title {
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 185px;
}

.descr_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

.descr_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 2 - 30px);
  padding: 23px;
  border: 1px solid #c4c4c4;
  margin: 30px 15px;
}

.descr_item__text {
  padding: 0 25px;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
}

.footer {
  height: 30vh;
  background-color: #2d2d2d;
}

.hystmodal__window--form {
  width: 440px;
  max-width: 100%;
  background: linear-gradient(216.25deg, #ffffff 0%, #f3f3f3 100%), #fcfcfc;
  -webkit-box-shadow: 0px 0px 6px rgba(51, 66, 94, 0.5);
          box-shadow: 0px 0px 6px rgba(51, 66, 94, 0.5);
  padding: 40px 30px;
}

.hystmodal__styled {
  font-size: 16px;
  line-height: 1.5;
}

.hystmodal__close:focus {
  outline: 2px dotted #afb3b9;
  outline-offset: 2px;
}

.hystmodal__close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: -40px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../images/eva_close-fill.svg);
  background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}

.loginblock__h1 {
  margin-bottom: 30px;
  color: #2e3c56;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}

.formitem {
  padding-bottom: 24px;
  position: relative;
}

.formitem input {
  outline: none;
  background: #ffffff;
  -webkit-box-shadow: inset 0 0 0 100px #fff;
          box-shadow: inset 0 0 0 100px #fff;
  border: 1px solid #dde0e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #484c53;
  font-size: 15px;
  line-height: 26px;
  padding: 15px 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.flexi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginblock__bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}

.formcheckbox {
  position: relative;
  display: block;
  cursor: pointer;
}

.formcheckbox input {
  position: absolute;
  /* visibility: hidden; */
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.formcheckbox input + span {
  height: 21px;
  color: #8f99aa;
  font-size: 12px;
  line-height: 21px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid #dde0e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}

.checkplace img {
  display: block;
  max-width: 90%;
  max-height: 95%;
  margin: auto;
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */